__pycache__/

##########################
# SQLite Database Files
##########################

# Main database files
**/*.db
**/*.sqlite
**/*.sqlite3

# Temporary and journal files created by SQLite
**/*.db-journal
**/*.db-wal
**/*.db-shm
